/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    height: 100vh;
    margin: 0;
}

/* Estilos para el formulario */
form {
    background-color: #ffffff;
    padding: 50px 70px 50px 50px; /* top right bottom left */ /* Aumentamos el padding */
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumentamos el ancho del formulario */
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 20px; /* Aumentamos el margen inferior */
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 12px; /* Aumentamos el padding para que los inputs sean más altos */
    margin-bottom: 25px; /* Aumentamos el margen inferior */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px; /* Aumentamos el tamaño de la fuente */
}

form input[type="submit"] {
    display: block; /* Asegurándose de que el botón ocupe todo el ancho */
    margin: 25px auto; /* Centrado horizontalmente y margen arriba y abajo de 25px */
    background-color: #007BFF;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 80%; /* puedes ajustar este valor si quieres que el botón sea más estrecho */
}


